Django==1.8.3
django-braces==1.9.0
django-cors-headers==1.1.0
django-filter==0.13.0
django-filters==0.2.1
django-nose==1.4.1
django-oauth-toolkit==0.10.0
django-oauth2-provider==0.2.6.1
django-rest-framework-social-oauth2==1.0.4
djangorestframework==3.3.3
djoser==0.4.3
oauth2
oauthlib==1.0.3
PyJWT==1.4.2
python-openid==2.2.5
python-social-auth==0.2.21
requests==2.11.1
requests-oauthlib==0.7.0
shortuuid==0.4.2
